*.log
.idea
node_modules
yarn.lock
pnpm-lock.yaml
eslint.config.*
.formatignore
.editorconfig
.gitignore
lint-staged.config.*
/test

.nyc_output
coverage
.github
src
.mocharc.json
tsconfig.json
tsconfig.*.json
.husky
.nycrc.json
/assets
/scripts
CHANGELOG.md